.footer_txt {
    background-color: #000000;
    color: white;
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}