

h1{
    color:#c91b1b; 
    font-size: 40px;
    padding: 0 0 0 0;
}

h2{
    padding: 0 0 20px 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}


.mainBg2{
    background-color:#101C2E;
    padding: 100px 80px;
    text-align: center;
    min-height: 100vh;
}

.info-container{
    font-size: 12px;
    margin: 50px 0;
    color: #FFF;
    text-align: justify;
    line-height: 1.5;
}

.img-container{
    text-align: center;
}

.home-logo{
    width: 20em;
    height: 100%;

}

.color-txt{
    color:#d84f4f; 
    font-size: 12px;
} 

.info-list ul{
    list-style-type: none;
 
    padding: 10px 0 0 0;
}


