nav {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    background-color: #0B121E;
    align-items: center;
}
nav h1{
    color: #fff;
    margin-left: 40px;
}
nav a {
    text-decoration: none;
}
nav span{
    cursor: pointer;
    margin-left: 40px;
    font-size: 13px;
    text-transform: none;
}
nav span:hover{
    color: #fff;
    border-bottom: 2px solid #FF5858;
    padding-bottom: 5px;
}
span #HomeLight, #MoviesLight, #TrendingLight{
    color: #fff;
}
span #HomeLight:hover, #MoviesLight:hover, #TrendingLight:hover{
    border-bottom: 2px solid #FF5858;
    color: #fff;
}
#navBarColor{
    background-color: #467599;
    transition: .6s;
}
.nav-options{
    display: flex;
    align-items: center;
}
#heading{
    color: #ff206e;
}
#navBarColor span:hover{
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}
.input-group{
    display: flex;
    align-items: center;
}
#Color-switcher{
    position: relative;
    margin-right: 40px;
    background-color: #413E44;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
#Color-switcher-mover{
    position: absolute;
    left: 5px;
    top: 4px;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}
#Color-switcher-moved{
    position: absolute;
    background-color: #fff;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}
.input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 26px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    color: black;
}
.input-group input:focus{
    outline: none;
}
#search{
    position: absolute;
    margin-left: 310px;
}
.movie-logo{
    width: 200px;
    height: 100%;
    padding: 10px;
}

/*-- Media Queries --*/

@media screen and (max-width: 375px) {

    nav span{

        font-size: 5px;
        margin: 5px;
    
    }

}

@media screen and (max-width: 412px) {


    .input-group{
        position: absolute;
    }
    
   .menu {
        margin: 0 auto;
        width: 100%;
      }

    
    nav span{
        font-size: 8px;
        margin: 8px;
    }
    
}


@media screen and (max-width: 768px) {

    .input-group{
        position: absolute;
        top: 100px;
        margin: 0 auto;
    }
    
   .menu {
        display: flex;
        justify-content: center;
        overflow: visible;
    
      }

      .nav-options{
        height: 100px;
      }

        .movie-logo{
            width: 150px;
            height: 100%;
            padding: 10px;
        }

        nav span{

            font-size: 8px;
            margin: 8px;
        
        }
    
  }

  
  @media screen and (max-width: 903px) {

    nav span{
        font-size: 10px;
        margin: 10px;
    }
}


  @media screen and (max-width: 954px) {

        nav span{
            font-size: 10px;
            margin: 10px;
        }
    
  }