.footer_main{
    background-color: #0B121E;
    color: white;
    padding: 25px 20px;
    position: relative;
    bottom: 0;
}

.footer_links ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
    font-size: 12px;
    padding: 0;
}

.footer_txt{
    font-size: 13px;
   text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

.footer_links ul li:hover{
    color: #FF5858;
    cursor: pointer;
    text-decoration: none !important;
}

.footer_links ul li{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 30px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



/*-- Media Queries --*/

@media screen and (max-width: 412px) {

    .footer_links ul{
    
        font-size: 8px;
       
    }

    .footer_txt{
        font-size: 10px;
   
    }

}


@media screen and (max-width: 768px) {

    .footer_links ul{
    
        font-size: 10px;
       
    }

    .footer_txt{
        font-size: 10px;
   
    }

}